{% extends 'admin/modal-layout.html.twig' %}

{% block title %}{{ 'Edit Personal details'|trans }}{% endblock %}

{% block modal_body %}
  {{ form_start(form, {'attr': {'class':'form-signin'}}) }}
  {{ form_end(form) }}
{% endblock %}

{% block modal_footer %}
  <button class="cd-btn cd-btn-link-default cd-btn-lg" type="button" data-toggle="cd-modal-cancel">
    {{ 'cancel'|trans }}
  </button>
  <button class="cd-btn cd-btn-primary cd-btn-lg js-personal-details-save-btn" type="button" data-toggle="cd-modal-ok">
    {{ 'save'|trans }}
  </button>
{% endblock %}