{% import "macro.html.twig" as macro %}
{% extends 'admin/layout.html.twig' %}

{% set side_nav = 'user-management' %}

{% do script(['user/index.js']) %}
{% do css(['user/index.css']) %}

{% block content %}
  <div class="cd-content">
    {% include 'admin/user/sidebar.html.twig' %}

    <div class="cd-main">
      <div class="cd-main__heading">
        <div class="cd-main__title">{{ 'User Management'|trans }}</div>
      </div>
      <div class="cd-main__body">
        {% include 'admin/user/search-form.html.twig' %}
        <div class="cd-table-responsive">
          <table class="cd-table">
            <thead>
            <tr>
              <th width="5%">{{ 'Numbering'|trans }}</th>
              <th width="15%">{{ 'User Name'|trans }}</th>
              <th width="15%">{{ 'Email'|trans }}</th>
              <th width="15%">{{ 'Mobile Number'|trans }}</th>
              <th width="14%">{{ 'User Groups'|trans }}</th>
              <th width="13%">{{ 'Register Tim'|trans }}</th>
              <th width="13%">{{ 'Updated Time'|trans }}</th>
              <th width="10%">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
              {% include 'admin/user/table-tr.html.twig' %}
            {% else %}
              <tr class="empty">
                <td colspan="20">{{ 'No User Record'|trans }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {{ macro.paginator(paginator, paginatorBag, app.request.query.get(1)|default([])) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}