<tr>
  <td>{{ loop.index }}</td>
  <td><a href="#modal" class="cd-link-primary" data-toggle="modal" data-url="{{ path('admin_user_show', {id: user.id}) }}">{{ user.username }}</a></td>
  <td>{{ user.email }}</td>
  <td>{{ user.verifiedMobile|default('--') }}</td>
  <td>{{ user.Roles|join(' ')|trans }}</td>
  <td>{{ user.createdAt|date('Y-n-d H:i:s') }}</td>
  <td>{{ user.updatedAt|date('Y-n-d H:i:s') }}</td>
  <td>
    <a href="#modal" class="cd-link-primary cd-mr8" data-toggle="modal" data-url="{{ path('admin_user_show', {id: user.id}) }}">{{ 'View'|trans }}</a>
    <div class="cd-dropdown cd-dropdown-right" data-toggle="cd-dropdown">
      <a href="javascript:;" class="cd-link-primary">
        {{ 'More'|trans }}<i class="cd-icon cd-icon-arrow-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#modal" class="cd-link-primary cd-mr8" data-toggle="modal" data-url="{{ path('admin_user_edit', {id: user.id}) }}">{{ 'Edit Personal details'|trans }}</a>
        </li>
        <li>
          <a href="javascript:;">下拉菜单项二</a>
        </li>
      </ul>
    </div>
  </td>
</tr>