<header class="site-header">
  <div class="site-header__logo">
    <a href="{{ path('admin') }}">{{ 'Dashboard'|trans }}</a>
  </div>
  <div class="site-header__nav cd-clearfix">
    <ul style="float:left;">
      <li class="{% if app.request.getRequestUri == path('homepage') %}active{% endif %}">
        <a href="{{ path('admin') }}">{{ 'User'|trans }}</a>
      </li>
    </ul>

    <ul>
      <li class="cd-pv10">
        <div class="cd-dropdown" data-toggle="cd-dropdown">
          <button class="cd-btn cd-btn-primary">
            {{ 'Homepage'|trans }} <i class="cd-icon cd-icon-arrow-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ path('homepage') }}">{{ 'Homepage'|trans }}</a></li>
            <li><a href="{{ path('logout') }}">{{ 'Log Out'|trans }}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>