<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{{ path('dashboard') }}" data-pjax data-pjax-container="#content-container">{{ 'Dashboard'|trans }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-end ml-auto">
      {% if app.user %}
        <li class="nav-item">{{ app.user.username }}</li>
        <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link">{{ 'Log Out'|trans }}</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
